footer{
    text-align: center;
    background: #000010;
    padding: 40px;
}

footer p{
    color:white;
    font-size: 13px;
    margin: 20px;
}

@media (max-width: 768px){
    footer{padding: 30px 16px}
    footer p{font-size: 13px}
}

@media (max-width: 480px){
    footer{padding: 20px 12px}
    footer p{font-size: 12px}
}