
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #dcdbdb;
    margin: 0;
    padding: 0;
}

#buscador{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}

h1{
    color:rgb(255, 136, 0)
}

.mensaje-bienvenida{
    text-align: 60px;
    font-weight: bold;
}

.imagendeblog{
    width: 400px;
}



.texto-redes{
    color:rgb(8, 161, 33);
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}

.conector-paginas{
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}


footer{
    text-align: center;
    background: #000010;
    padding: 40px;
}

footer p{
    color:white;
    font-size: 13px;
    margin: 20px;
}