
.selector-for-some-widget {
    box-sizing: content-box;
}
.texto-redes{
    color:rgb(197, 2, 165);
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}

.conector-paginas{
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}


footer{
    text-align: center;
    background: #000010;
    padding: 40px;
}

footer p{
    color:white;
    font-size: 13px;
    margin: 20px;
}